body {
    font-family: 'Rubik', sans-serif;
}

/* Styles for desktop */
@media screen and (min-width: 1440px) {
    .det {
      border-right: 1px solid #6c757d;;
    }
  }
  
  /* Styles for mobile */
  @media screen and (max-width: 375px) {
    .det {
      border-right: none;
    }
  }